.nav {
    display: flex;
    align-items: center;
    gap: 40px;
    a {
        cursor: pointer;
        transition: .3s;
        @media (min-width: 1025px) {
            &:hover {
                p {
                    transform: scale(1.1);
                }
            }
        }
    }
    div {
        display: none;
    }
    p {
        font-family: 'Montserrat';
        transition: .3s;
        color: var(--main-text-color);
        font-size: var(--fs-24);
        font-weight: 400;
    }
}